.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
#menu_haut{
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #offcanvasExample{
    width: 70%;
  }
  }
